{% extends 'admin/layout.html.twig' %}

{% block title %}Proposer une nouvelle offre{% endblock %}

{% block body %}
    <h1>Proposer une nouvelle offre</h1>

    {{ include('offer/_form.html.twig') }}
{% endblock %}
