{% extends 'admin/layout.html.twig' %}

{% block title %}Modifier la page d'accueil{% endblock %}

{% block body %}
    <h1>Modifier la page d'accueil</h1>

    {{ include('homepage/_form.html.twig') }}
{% endblock %}
