{% extends 'admin/layout.html.twig' %}

{% block title %}Nouvelle page d'accueil{% endblock %}

{% block body %}
    <h1>Nouvelle page d'accueil</h1>

    {{ include('homepage/_form.html.twig') }}

{% endblock %}
