{% extends 'espace-agent/layout.html.twig' %}

{% block title %}Modifier un abonnement{% endblock %}

{% block body %}
    <h1>Modifier un abonnement</h1>
    
    <br>{{ include('subscription/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    {{ include('subscription/_delete_form.html.twig') }}
{% endblock %}
