{% extends 'admin/layout.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
    <h1>Édition d'article</h1>

    {{ include('article/_form.html.twig') }}
    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
